@import './colors.scss';

body {
  margin: 0 !important;
}

.navbar-main {
  padding: 12px;
}

.table-container {
  height: 65vh;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
