<nav
  class="navbar subtitle is-primary is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="https://cashcalc.herokuapp.com">
      <img src="../favicon.ico" />
      <p>CASHCALC</p>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      [ngClass]="{ 'is-active': menuStatus }"
      (click)="toggleMenu()"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': menuStatus }"
  >
    <div class="navbar-start">
      <a class="navbar-item button is-light" (click)="openLogin()">
        Bejelentkezés
      </a>
      <a class="navbar-item">
        Légi
      </a>
      <a class="navbar-item">
        Közúti
      </a>
      <a class="navbar-item">
        Admin
      </a>
    </div>
  </div>
</nav>

<div class="modal" [ngClass]="{ 'is-active': loginMenu }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Bejelentkezés</p>
      <button class="delete" aria-label="close" (click)="closeLogin()"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="email" />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="password" />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary">Belépés</button>
      <button class="button" (click)="closeLogin()">Vissza</button>
    </footer>
  </div>
</div>

<div class="box">
  <p class="title">Légi/belföld transzport</p>
  <div class="columns">
    <div class="column">
      <p class="subtitle">Ország</p>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option>Magyarország</option>
            <option disabled>Anglia</option>
            <option>Németország</option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <fa-icon [icon]="faGlobe"></fa-icon>
        </span>
      </div>
    </div>
    <div class="column">
      <p class="subtitle">Súly (kg)</p>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option>0.5</option>
            <option>1</option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <fa-icon [icon]="faWeightHanging"></fa-icon>
        </span>
      </div>
      <p class="caption">Adj meg 0.5 és 200 kg közötti súlyt.</p>
    </div>
    <div class="column">
      <p class="subtitle">Biztosítási összeg (Ft)</p>
      <div class="control has-icons-left">
        <input class="input" type="number" min="0" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faShieldAlt"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <p class="subtitle">Kedvezmény</p>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option value="0.1" label="10%"></option>
            <option value="0.2" label="20%"></option>
            <option value="0.3" label="30%"></option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <fa-icon [icon]="faDollarSign"></fa-icon>
        </span>
      </div>
    </div>
    <div class="column is-one-third">
      <p class="subtitle">Express csomag?</p>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option value="0" label="Express Worldwide"></option>
            <option value="9" label="Express 9h"></option>
            <option value="12" label="Express 12h"></option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <fa-icon [icon]="faShippingFast"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="columns">
    <p class="subtitle">Kiegészítő opciók</p>
  </div>
  <div class="columns is-mobile">
    <div class="column is-narrow">
      <p class="subtitle">DOX:</p>
    </div>
    <div class="column is-narrow">
      <input type="checkbox" aria-label="dox" />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="caption">
        Amennyiben az ügyfél EU-n kívüli területre küld dokumentumot, ikszeld
        be!
      </p>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-narrow">
      <p class="subtitle">EXT:</p>
    </div>
    <div class="column is-narrow">
      <input type="checkbox" aria-label="ext" />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="caption">
        Amennyiben az ügyfél küldeménye dokumentum, és szeretné biztosítani,
        ikszeld be!
      </p>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-narrow">
      <p class="subtitle">RAS:</p>
    </div>
    <div class="column is-narrow">
      <input type="checkbox" aria-label="RAS" />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="caption">
        Amennyiben a küldemény kieső területre megy, ikszeld be!
      </p>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-narrow">
      <p class="subtitle">TK:</p>
    </div>
    <div class="column is-narrow">
      <input type="checkbox" aria-label="tk" />
    </div>
  </div>
  <div class="columns">
    <div class="column is-narrow">
      <p class="caption">
        Amennyiben az ügyfél lakóövezetbe kéri a kézbesítést (ODD), ikszeld be!
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-narrow">
      <button
        class="button is-primary is-mobile is-fullwidth"
        (click)="openCalculateWindow()"
      >
        Számítsd ki!
      </button>
    </div>
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': isActive }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      ASD
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="closeCalculateWindow()"
  ></button>
</div>
