@import '../../styles/style.scss';

.main-tabs {
  background-color: $primary-color;
}

.main-indicator {
  color: #ffffff;
}

.navbar-brand {
  width: 50% !important;
}

.navbar-content {
  width: 50% !important;
}
