@import '../../styles/style.scss';

.navbar-main {
}

.navbar-header {
  background: #ffffff;
  z-index: 1;
}

html:not([data-scroll='0']) .navbar-header {
  position: fixed;
  filter: drop-shadow(0 0 0.1rem black);
}

.navbar-brand {
  width: 50% !important;
  padding: 12px;
}

.navbar-menu {
  justify-content: center;
  align-items: center;
  width: 50% !important;
}

.navbar-menu-button {
  z-index: 10000;
}
