@import '../../styles/style.scss';

.result-close-button {
  color: #ffffff !important;
}

.result-header {
  text-transform: uppercase;
  background: $primary-color;
  color: #ffffff;
}

.result-table-head-cell {
  font-weight: bold !important;
}

.result-table-sum-cell {
  font-weight: bold !important;
}

.cancel-result-button {
  color: #e6384d !important;
}

.result-actions {
  justify-content: flex-end !important;
}
