.result-close-button {
  color: #ffffff !important;
}

.result-header {
  text-transform: uppercase;
  background: rebeccapurple;
  color: #ffffff;
}

.cancel-result-button {
  color: #e6384d !important;
}

.result-actions {
  justify-content: flex-end !important;
}
