// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~@ng-select/ng-select/themes/default.theme.css";

// Set your brand colors
$purple: #9c27b0;
$pink: #e91e63;
$brown: #795548;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

$navbar-z: 500;

@import '../node_modules/bulma/bulma.sass';
